@font-face {
	font-family: 'GeistMono';
	src: url('/fonts/GeistMono[wght].woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

code,
pre,
kbd,
samp,
.code-block,
.code-group {
	font-family:
		'GeistMono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
}
